.persisting {
    position: fixed;
    top: 50vh;
    color: red;
}

.persisting2 {
    position: fixed;
    top: 50vh;
    color: red;
}

.persisting3 {
    position: fixed;
    top: 50vh;
    color: red;
}

