.blue-box {
    height: 50px;
    width: 50px;
    background-color: rgb(114, 114, 202);
}

.motion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
  }
  